<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595681544674-cd8u07ttomde6otjqndq3h2909n77nvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595681544674-cd8u07ttomde6otjqndq3h2909n77nvl</string>
	<key>API_KEY</key>
	<string>AIzaSyCKtU6jovV0o6ssQzdeemUu4jVOwGot-nc</string>
	<key>GCM_SENDER_ID</key>
	<string>595681544674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulocardosob.Threee</string>
	<key>PROJECT_ID</key>
	<string>threee-9aa83</string>
	<key>STORAGE_BUCKET</key>
	<string>threee-9aa83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595681544674:ios:a4e9f3a18b21f47f</string>
	<key>DATABASE_URL</key>
	<string>https://threee-9aa83.firebaseio.com</string>
</dict>
</plist>